body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f4f6; /* Light blue */
    color: #d4e04d;
}

header {
    background-color: #5f4be0; /* Forest green */
    color: rgb(112, 205, 106);
    padding: 15px;
    text-align: center;
}

header nav a {
    color: rgb(127, 66, 218);
    margin: 0 10px;
    text-decoration: none;
}

header .search-container {
    margin-top: 10px;
}

header input, header button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

header input {
    width: 200px;
}

header button {
    background-color: #4caf50; /* Green */
    color: rgb(158, 209, 63);
    cursor: pointer;
}

header button:hover {
    background-color: #45a049;
}

main {
    padding: 20px;
    text-align: center;
}

main section {
    background-color: #53acdd; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: #010820; /* Forest green */
    color: white;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}